@import "tailwindcss";

:root {
  --background: #161616;
  --foreground: #ededed;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none; 
  }

  .hide-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}

body {
  background-color: #161616 !important;
  color: #ededed;
  margin: 0;
}