@import "tailwindcss";

:root {
  --background: #161616;
  --foreground: #ededed;
}

html, body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  overscroll-behavior: none; 
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #333; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}